extends layouts/main-layout.pug

block content
    .login
        h1 Se connecter
        form(method="post")

            p.errorMessage #{errorMessage}

            input(type="text", name="logUsername", placeholder="Nom d'utilisateur", value=logUsername required="")
            input(type="password", name="logPassword", placeholder="Mot de passe", required="")
            input(type="submit", value="Connexion")
        a(href="/register") Pas encore de compte? Créer un compte.